/*variaveis*/
:root{
    --branco-principal: #ffffff;
    --cinza-secundario: #c0c0c0;
    --botao-azul: #167bf7
    --cor-fundo: #00030C;
    --fonte-principal:'Inter';
    --botao-azul-efeito:#3c92fa;
}
/*Seletor Universal*/
*{
    margin:0;
    padding:0;
}
/*corpo do documento*/
body{
    background-color: black;
    color:#ffffff
    font-family:beige 
    font: size 16px;
    font-weight:400;   
}
/*seção e atribuito class*/
.principal{
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container{
    height: 100vh;
    display:grid
    grid-template-columns:50% 50%;
}

.container_botao {
    background-color: #3c92fa;
    border-radius: 5px;
    padding: lem;
    color: #ffffff;
    display: block;
    text-decoration: none;
    margin-bottom: lem;
}

.botao_secundario {
    background-color: aliceblue;
    boder: 2px solid var(--branco-principal)

}

.container_aviso{
    font-size: 12px;/*tamanho da fonte */
    color:#c0c0c0
}

.container_titulo 